body {
  background-color: var(--lightblue);
  padding: 0;
}

.top-link {
  padding: 0.5rem 0;
}

.top-link a {
  color: var(--blue);
  font-weight: bold;
  text-underline-offset: 3px;
}

.shortcut-hint {
  font-size: 0.75rem;
  color:var(--blue);
}

kbd {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 0.75rem;
  font-family: monospace;
}

.container {
  width: max-content;
  margin: 0 auto;
}

.form-wrapper {
  width: max-content;
  background: #f9f9f9;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: 600;
  margin-bottom: 1.5rem;
  border-left: 5px solid var(--blue);
  padding-left: .5rem;
}

.title-guide{
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1.5rem;
}

.form-group.dims .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-row label {
  width: 3rem;
  text-align: right;
}

.input-row input {
  font-size: 16px;
  padding: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.preview-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  margin-top: 1rem;
}

.preview-item {
  position: relative;
  flex: 0 0 auto;
}

.preview-item img {
  height: 160px;
  border-radius: 4px;
  object-fit: contain;
}

.delete-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(255, 50, 50, 0.8);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: .4rem;
  cursor: pointer;
}

.submit-wrapper {
  text-align: center;
  /* ボタンを中央寄せ */
  margin-top: 2rem;
}

.submit-btn {
  font-size: 1.1rem;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

label,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

.form-group.checkbox label {
  display: flex;
  gap: 0.5rem;
  background-color: white;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.form-group.checkbox label:has(input:checked) {
  background-color: var(--lightblue);
}

.form-group.radio-group label {
  display: inline-flex;
  min-width: 100px;
  gap: 10px;
  background-color: white;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 0.5rem;
  padding: 10px;
}

.form-group.radio-group label:has(input:checked) {
  background-color: var(--lightblue);
}

.loading-overlay {
  position: fixed;
  inset: 0; /* 全画面を覆う */
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.form-guide {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 1rem;
  line-height: 1.4;
}
.form-guide strong {
  color: var(--blue);
  font-weight: bold;
}

.delete-btn-main {
  font-size: 1rem;
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
  transition: background 0.2s;
}

.delete-btn-main:hover {
  background-color: #b52b27;
}